/* .contact-portrait-wrapper {
    height: 
} */

.contact-portrait {
    object-fit: cover;
}

/* .contact-header {
    max-height:max-content;
    width: 120%;
    overflow: clip;
    position:relative; 
} */

.contact-header-offset {
    /* top: -20vh;
    min-width: 65%;
    bottom: 21vw; */
    /* font-size: 30px; */
}