{% extends 'base.html' %} {% block title %}Empower{% endblock %} {% block head
%}
<link rel="stylesheet" href="/static/index.css" />
{% endblock %} {% block body %}

<div class="container-fluid">
  <!-- row-1 header + contact button-->

  <div class="text-center fs-4 content-row-margins row orange-bg-color" id="homepage-row-1">
    <div class="pb-4 p-sm-4 pb-lg-0 align-self-center col-12 order-2 col-sm-8 order-sm-1" id="homepage-row-1-div-1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
          necessitatibus velit accusantium nemo corporis quae beatae adipisci
          enim tenetur, nulla porro ad commodi fugit dolores numquam doloremque
          quod mollitia corrupti odio distinctio nihil dolorum. Ea doloribus eum
          dolorum ad porro.
        </p>
      <button class="contact-us-btn btn btn-lg btn-success" id="contact-us-btn__homepage">
        Contact Us
      </button>
    </div>
    <div class="img-hole col-12 order-1 col-sm-4 order-sm-2 d-flex justify-content-center align-items-center"  id="homepage-row-1-div-2">
    <div class="img-wrapper shadow rounded d-flex justify-content-center align-items-center">
      <img
        src="/static/img/priscilla-du-preez-K8XYGbw4Ahg-unsplash.jpg"
        class="rounded mx-auto d-block"
        alt=""
      />
    </div>
   </div>
  </div>
  </div>

  <!-- row 2 services -->
<div class="container">
  <div
    class="content-rd-flex flex-wrap row rounded salmon-bg-color"
    id="homepage-row-2"
  >
    <div class="text-center fs-1 col-12">Services</div>
    <div class="text-center col-12 col-sm-6 fs-3 mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-diamond"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
        />
      </svg>
      hello1
    </div>
    <div class="text-center col-12 col-sm-6 fs-3 mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-diamond"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
        />
      </svg>
      hello2
    </div>
    <div class="text-center col-12 col-sm-6 fs-3 mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-diamond"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
        />
      </svg>
      hello3
    </div>
    <div class="text-center col-12 col-sm-6 fs-3 mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-diamond"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
        />
      </svg>
      hello4
    </div>
  </div>

  <!-- row 3 links -->

  <div
    class="content-row-margins row rounded orange-bg-color d-flex flex-wrap justify-content-around"
    id="homepage-row-3"
  >
    <div class="text-center fs-1">Some Links</div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="img-wrapper col-md-4">
          <img
            src="static/img/nima-sarram-4JMOnj7NFKM-unsplash.jpg"
            class="object-fit-cover rounded-start"
            alt="..."
          />
        </div>
          <div class="card-body col-md-8">
            <h5 class="card-title">Podcast title</h5>
            <p class="card-text">Description text for the podcast.</p>
            <p class="card-text">
              <small class="text-muted">Link added date?</small>
            </p>
          </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="img-wrapper col-md-4">
          <img
            src="static/img/leo-maverick-O65TY4EAgQ0-unsplash.jpg"
            class="object-fit-cover rounded-start"
            alt="..."
          />
        </div>
          <div class="card-body col-md-8">
            <h5 class="card-title">Article title</h5>
            <p class="card-text">Description text for the article.</p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="img-wrapper col-md-4"">
          <img
            src="static/img/leo-maverick-O65TY4EAgQ0-unsplash.jpg"
            class="object-fit-cover rounded-start"
            alt="..."
          />
        </div>
          <div class="col-md-8 card-body">
            <h5 class="card-title">Article title</h5>
            <p class="card-text">article</p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="img-wrapper col-md-4">
          <img
            src="static/img/leo-maverick-O65TY4EAgQ0-unsplash.jpg"
            class="object-fit-cover rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8 ard-body">
            <h5 class="card-title">Article title</h5>
            <p class="card-text">article</p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
