{% extends 'base.html' %} 

{% block title %}Empower{% endblock %} 

{% block head%}
<link rel="stylesheet" href="/static/services.css" />
{% endblock %} 

{% block body %}

<div class="container">
  <!-- row-1 header / mission statement -->

  <div class="content-row-margins row orange-bg-color" id="services-row-1">
    <div
      class="align-self-center col-12 order-2 col-sm-8 order-sm-1"
      id="homepage-row-1-div-1"
    >
      <div>
        <h1 class="fs-1">Services</h1>
      </div>
      <p class="fs-4">
        At Empower, our mission is to heal and restore your whole ass.
      </p>
    </div>
    <div class="col-12 order-1 col-sm-4 order-sm-2" id="homepage-row-1-div-2">
      <img
        src="/static/img/priscilla-du-preez-K8XYGbw4Ahg-unsplash.jpg"
        class="img-fluid rounded mx-auto d-block"
        alt=""
      />
    </div>
  </div>

  <!-- row 2 services and descriptions -->

  <div
    class="content-row-margins content-rd-flex flex-wrap row salmon-bg-color"
    id="services-row-2"
  >
    <div class="text-center col-12 fs-1 bottom-padding-1em">Group</div>
    <div class="col-12 fs-4 mb-3 bottom-padding-15em">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
      auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
      diam posuere viverra.
    </div>
    <div class="text-center col-12 fs-1 bottom-padding-1em">Individual</div>
    <div class="col-12 fs-4 mb-3 bottom-padding-15em">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
      auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
      diam posuere viverra.
    </div>
    <div class="text-center col-12 fs-1 bottom-padding-1em">Assessment</div>
    <div class="col-12 fs-4 mb-3 bottom-padding-15em">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
      auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
      diam posuere viverra.
    </div>
    <div class="text-center col-12 fs-1 bottom-padding-1em">DBT Skills</div>
    <div class="col-12 fs-4 mb-3 bottom-padding-15em">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
      auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
      diam posuere viverra.
    </div>
    <div class="text-center col-12 fs-1 bottom-padding-1em">Consulting</div>
    <div class="col-12 fs-4 mb-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
      auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
      diam posuere viverra.
    </div>
  </div>
</div>
{% endblock %}
