{% extends 'base.html' %} {% block title %}Empower{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/services.css" />
{% endblock %} {% block body %}

<div class="container">
  <!-- row-1 header / mission statement -->

  <div
    class="content-row-margins rounded row orange-bg-color"
    id="services-row-1"
  >
    <div
      class="align-self-center col-12 order-2 col-sm-8 order-sm-1"
      id="homepage-row-1-div-1"
    >
      <div>
        <h1 class="fs-1">Services</h1>
      </div>
      <p class="fs-4">
        At Empower, our mission is to heal and restore your whole ass.
      </p>
      <p class="services-links">
        <a rel="noopener" href="#Group">Group</a> | 
        <a rel="noopener" href="#Individual">Individual</a> | 
        <a rel="noopener" href="#Assessment">Assessment</a> | 
        <a rel="noopener" href="#DBT-Skills">DBT Skills</a> | 
        <a rel="noopener" href="#Consulting">Consulting</a>
      </p>
    </div>
    <div class="col-12 order-1 col-sm-4 order-sm-2 .d-block .d-sm-none .d-lg-block" id="homepage-row-1-div-2">
      <img
        src="/static/img/priscilla-du-preez-K8XYGbw4Ahg-unsplash.jpg"
        class="img-fluid rounded mx-auto d-block"
        alt=""
      />
    </div>
  </div>

  <!-- row 2 services and descriptions -->

  <!-- svg divider sourced from https://svgsilh.com/image/1585002.html -->

  <div
    class="content-row-margins rounded d-flex flex-wrap row salmon-bg-color"
    id="services-row-2"
  >
    <section id="Group">
      <div class="text-center col-12 bottom-padding-1em"><h2>Group</h2></div>
      <div class="col-12 fs-4 mb-3 bottom-padding-15em">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
        auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
        diam posuere viverra.
      </div>
      <img
        loading="lazy"
        class="rounded-pill services-img"
        src="/static/img/vonecia-carswell-0aMMMUjiiEQ-unsplash.jpg"
      />
    </section>
    <img class="services-divider-svg" src="/static/img/1585002.svg" />
    <section id="Individual">
      <div class="text-center col-12 fs-1 bottom-padding-1em">
        <h2>Individual</h2>
      </div>
      <div class="col-12 fs-4 mb-3 bottom-padding-15em">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
        auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
        diam posuere viverra.
      </div>
      <img
        loading="lazy"
        class="rounded-pill services-img"
        src="/static/img/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash.jpg"
      />
    </section>
    <img class="services-divider-svg" src="/static/img/1585002.svg" />
    <section id="Assessment">
      <div class="text-center col-12 fs-1 bottom-padding-1em">
        <h2>Assessment</h2>
      </div>
      <div class="col-12 fs-4 mb-3 bottom-padding-15em">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
        auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
        diam posuere viverra.
      </div>
      <img
        loading="lazy"
        class="rounded-pill services-img"
        src="/static/img/jeremy-bishop-vGjGvtSfys4-unsplash.jpg"
      />
    </section>
    <img class="services-divider-svg" src="/static/img/1585002.svg" />
    <section id="DBT-Skills">
      <div class="text-center col-12 fs-1 bottom-padding-1em">
        <h2>DBT Skills</h2>
      </div>
      <div class="col-12 fs-4 mb-3 bottom-padding-15em">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
        auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
        diam posuere viverra.
      </div>
      <img
        loading="lazy"
        class="rounded-pill services-img"
        src="/static/img/jason-goodman-wVh5grSMYaY-unsplash.jpg"
      />
    </section>
    <img class="services-divider-svg" src="/static/img/1585002.svg" />
    <section id="Consulting">
      <div class="text-center col-12 fs-1 bottom-padding-1em">
        <h2>Consulting</h2>
      </div>
      <div class="col-12 fs-4 mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis
        auctor nisl, ut finibus eros varius sit amet. Duis consectetur orci quis
        diam posuere viverra.
      </div>
      <img
        loading="lazy"
        class="rounded-pill services-img"
        src="/static/img/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg"
      />
    </section>
  </div>
</div>
{% endblock %}
